<html>
  <head>
    <title>Create new user</title>
    <%- include('../partials/head'); %>  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <h1>Edit succes</h1>
    <button onclick="window.location.href='/'" >Go home</button>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>  
  </body>
</html>
